@use  "../utils/variables";
@use  "../utils/mixins";

.footer {
    background: #353535;
    /*color: variables.$white;*/
    padding:30px 0px;
    display: flex;
    flex-direction: column;
    padding:20px 50px 20px 30px;
    @include mixins.tablet-only{
        padding:20px 50px 20px 40px;
    }
    @include mixins.desktop-only{
        padding:20px 50px 20px 60px;
    }
    & a {
        /*color: variables.$white;
        text-decoration: none;*/
    }
    /*&__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }*/
    &-nav {
        & ul {
            list-style: none;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            @include mixins.desktop-only{
                flex-direction: row;
                gap: 10%;
            }
            @include mixins.tablet-only{
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__link {
            padding-bottom: 5px;
            & i {
                margin-right: 15px;
                height: auto;
            }
            & a {
                display: inline-flex;
                padding-bottom: 10px;
                margin: 0px;
            }
        }
    }
}