body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .header__back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}

header .header__back a {
  color: #000;
}

header .header__logo {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

header .header__logo a {
  color: #000;
}


/* page menu */

.main-menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
}

.img {
  width: 100%;
  height: 40vh;
}

.img__restaurant {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.menu {
  display: flex;
  flex-direction: column;
  gap:30px;
  padding-bottom: 30px;
  width: 90%;
}

.menu__block {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-dish-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.menu__block__dish {
  margin-left: 20px;
}

.menu__block__dish > h4 {
  padding: 20px 0px 5px 0px;
  margin: 0px;
}

.menu__block__dish >p {
  padding:0px 0px 15px 0px;
  margin:0px;
}

.menu__block__price {
  padding-right: 20px;
}

.menu-container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__btn {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 200px;
  margin: 40px 0px;
  padding: 15px 40px;
}

.menu__btn:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

footer {
  background: #353535;
  color: #fff;
  padding:30px 0px;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav__link {
  padding-bottom: 5px;
}

.footer-nav__link i {
  margin-right: 15px;
  height: auto;
}

.footer-nav__link p {
  display: inline-block;
  padding-bottom: 10px;
  margin: 0px;
}