@use  "../utils/variables" as v;
@use  "../utils/mixins" as m;

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Shrikhand', 'Raleway';
}

.header {
    &__logo {
        font-family: 'Shrikhand', cursive;
    }
    & a {
        color: v.$black;
        text-decoration: none;
    }
}

.menu {
    & h3 {
        font-family: 'Roboto', 'Raleway';
        text-transform: uppercase;
        font-weight: 350; 
    }
    &__heading i {
        font-size: 30px;
    }
    &__price {
        font-weight: bold;
    }
    &__validation i {
        color:v.$white;
        font-size: 30px;
    }
}

.working {
    &__number {
        color: v.$white;
    }
}

.footer {
    color: v.$white;
    & a {
        color: v.$white;
        text-decoration: none;
    }
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }
}