$colour-primary: #9356DC ;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;

$background-footer:#353535;
$background-block:#EAEAEA;
$background-block-light:#F6F6F6;
$background-restaurant:#f2f2f2;

$font-heading-logo:'Shrikhand', 'Raleway';
$font-family-text:'Roboto', sans-serif;

$white:#fff;
$black:black;